

input:focus
{
    box-shadow: none !important;
    border: solid 1px #cccccc !important;
}

button:focus
{
    box-shadow: none !important;
    border: solid 1px #cccccc !important;
}

.cursor-pointer {
    cursor: pointer;
}